<link rel="stylesheet" href="{{ url_for('static', filename='footer_header/footer.css') }}"> 
<footer>
   <p>Author: Vladimir Sulzik</p>
   <p>Programming languages skills</p>
   <p>Contact me</p>
   <a>I am junior Python and C/C++ developer form Estonia. I received my Bachelor of Science in Mechatronics and Master of 
      Science in Computer and Systems Engineering from Tallinn University of Technology. I can also use SQL, HTML and CSS languages 
      and have basic knowledge in Java/Javascript and C#.</a>
   <div class="footer_languages">
      <a>Python<br>C/C++<br>CSS/HTML<br>SQL<br>Java/Javascript<br>C#</a>
      <a>-<br>-<br>-<br>-<br>-<br>-</a>
      <a>Good<br>Good<br>Fair<br>Fair<br>Basic<br>Basic</a>
   </div>
   <div class="email_text">
      <a>GitHub: </a><a href="https://github.com/Balalaos">https://github.com/Balalaos</a>
      <a>Email: </a><a href="mailto:vova.shulzik@gmail.com">vova.shulzik@gmail.com</a>
   </div>
</footer>