<link rel="stylesheet" href="{{ url_for('static', filename='footer_header/header.css') }}"> 
<header>
    <div class="line_header">
        <a href="/" class="main_page">Main page</a>
        <a class="catch_phrase">Website created by Python and C/C++ developer</a>
    </div>
    <!--<a href="/contact" class="contact"> Contact me</a>-->
</header>
<nav>
    <div class="dropdown">
        <div class="dropbtn">My projects</div>
        <div class="dropdown-content">
            <a href="/loan-app">Loan app</a>
            <a href="/currency-exchanger">Currency exchanger</a>
            <!--<a href="#">Library (In process)</a>-->
        </div>
    </div>
    <div class="dropdown">
        <div class="dropbtn">Games</div>
        <div class="dropdown-content">
            <a href="/games/battleship">Battleship</a>
            <a href="/games/tic-tac-toe">Tic tac toe</a>
            <!--<a href="#">Snake (In process)</a>-->
        </div>
    </div>
    <!--<a href="#Blog">Blog</a>-->
    <a href="/about-me">About me</a>

</nav>